#related,
#secondary {
  display: none !important;
}

#contents ytd-rich-grid-renderer,
ytd-browse[page-subtype="home"] #primary {
  display: none !important;
}

#comments {
  display: none !important;
}

.ytp-endscreen-content {
  display: none !important;
}

ytd-rich-section-renderer {
  display: none !important;
}
